<section class="hero contact">
  <div class="row">
    <h2>Contact</h2>
  </div>
</section>
<section class="section-contact">
  <div class="row">
    <div class="col span-1-of-2 contact-box">
      <div id="mapid"></div>
    </div>
    <div class="col span-1-of-2 contact-box">
      <div class="contact-info">
        <ion-icon name="locate" class="icon-small"></ion-icon>
        <p>6 Route des Avouillons, 1196, Gland</p>
      </div>
      <div class="contact-info">
        <ion-icon name="time" class="icon-small"></ion-icon>
        <p>4:30 &ndash; 23:30 | 7 jours sur 7</p>
      </div>
      <div class="contact-info">
        <ion-icon name="call" class="icon-small"></ion-icon>
        <p>075 419 00 86</p>
      </div>
      <div class="contact-info">
        <ion-icon name="at" class="icon-small"></ion-icon>
        <p>titanfitnessch@gmail.com</p>
      </div>
    </div>
  </div>
</section>
