<section class="banner contact">
  <div class="row">
    <h2>Contact</h2>
  </div>
</section>
<section>
  <div class="row">
    <div class="col span-1-of-2 box">
      <div id="mapid"></div>
    </div>
    <div class="col span-1-of-2 box">
      <ul>
        <li>Adress: 6 Route des Avouillons, 1196, Gland</li>
        <li>Phone: 075 419 00 86</li>
        <li>Email: Titanfitnessch@gmail.com</li>
      </ul>
    </div>
  </div>
</section>
