<section class="banner contact">
  <div class="row">
    <h2>Contact</h2>
  </div>
</section>
<section>
  <div class="row">
    <p>
      Phone: 075 419 00 86
      Email: Titanfitnessch@gmail.com
      Adress: 6 Route des Avouillons, 1196, Gland
    </p>
  </div>
</section>
