<section class="hero facilities">
  <div class="row">
    <h2>Installations</h2>
  </div>
</section>
<section class="section-facilities">
  <div class="row">
    <div class="facilities-info col span-1-of-3">
      <h3>Cardio</h3>
      <ul>
        <li>2 Tapis Roulants</li>
        <li>Elliptique</li>
        <li>Vélo Couche</li>
        <li>Vélo Droit</li>
      </ul>
      <h3>Poids Libres</h3>
      <ul>
        <li>2 Cages à Squat</li>
        <li>2 Platforms Soulevés de Terre</li>
        <li>Développe Couche de Compétition</li>
        <li>3 Bancs Ajustables</li>
        <li>Bar Guidé</li>
        <li>Altère de 2.5-50kgs (60 et 70 bientôt)</li>
      </ul>
      <h3>Machines Jambes</h3>
      <ul>
        <li>Extensions de Quadriceps</li>
        <li>schios Assis</li>
        <li>Presse de Jambes</li>
      </ul>
      <h3>Machines Charge à Disque</h3>
      <ul>
        <li>Presse Epaules</li>
        <li>Presse Pectoraux Incline</li>
        <li>Presse Pectoraux Décline</li>
        <li>Tirage Dos</li>
        <li>Tirage Horizontal</li>
        <li>Mollets Assis</li>
      </ul>
      <h3>Machines à Poulie</h3>
      <ul>
        <li>Pec-Deck/Arrières Epaules</li>
        <li>Tirage Vertical</li>
        <li>Tirage Horizontal</li>
        <li>3 Poulies ajustable donc 2 Vis à Vis pour les Ecartes Pectoraux</li>
      </ul>
      <h3>Poids du Corps</h3>
      <ul>
        <li>4 Bars de Tractions avec poigne divers</li>
        <li>Extensions Lombaire</li>
        <li>Bars pour Dips-Triceps et Abdos</li>
      </ul>
      <h3>Divers</h3>
      <ul>
        <li>2 Tapis Yoga</li>
        <li>3 Planches d’équilibre</li>
        <li>Kettlebells de 4, 6 et 8 Kilos</li>
        <li>Corde à Sauter </li>
        <li>2 Bandes de résistance de power lifting</li>
        <li>Poignées et Cordes Divers pour les Machines à Poulie</li>
        <li>Bar EZ pour Biceps et Bar Droite</li>
        <li>Ceinture</li>
        <li>Craie pour Soulevés de Terres</li>
      </ul>
      <h3>Autres</h3>
      <ul>
        <li>Salles de Bain Hommes et Femmes</li>
        <li>Douches</li>
        <li>Cabines de Change</li>
      </ul>
    </div>

    <div class="col span-2-of-3">
      <div class="facilities-photos">
        <img src="../images/weight_room_panorama.jpg" alt="Dumbells" />
        <img src="../images/dumbbells_2.jpg" alt="Dumbells" />
        <img src="../images/multi_station.jpg" alt="Dumbells" />
        <img src="../images/treadmills.jpg" alt="Dumbells" />
        <img src="../images/machines.jpg" alt="Dumbells" />
        <img src="../images/machines_2.jpg" alt="Dumbells" />
        <img src="../images/skull.jpg" alt="Dumbells" />
        <img src="../images/mirrors.jpg" alt="Dumbells" />
      </div>
    </div>
</section>
