<header class="homepage-header">
  <div class="corner-ribbon">550 CHF</br> Adhésion Annuelle!</div>
  <nav>
    <div class="row">
      <a href="/"><img src="/images/logo.png" alt="Titan Fitness logo" class="logo"/></a>
      <ul class="main-nav js--main-nav">
        <li><a href="/why_titan">Pourquoi Titan?</a></li>
        <li><a href="/facilities">Installations</a></li>
        <li><a href="/philosophy">Philosophie</a></li>
        <li><a href="/tariffs">Tarifs</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://www.facebook.com/TitanFitnessCH"><ion-icon name="logo-facebook" class="icon-nav"></ion-icon></a></li>
        <li id="instagram-icon"><a href="https://www.instagram.com/titanfitnessch/"><ion-icon name="logo-instagram" class="icon-nav"></ion-icon></a></li>
      </ul>
      <a class="mobile-nav-icon js--nav-icon"><ion-icon id="nav-icon" name="menu" class="icon-big"></ion-icon></a>
    </div>
  </nav>
  <div class="homepage-hero-text-box">
    <div class="col span-2-of-3">
      <h1>Bienvenue à Titan Fitness</h1>
    </div>
    <div class="col span-1-of-3">
      <ul>
        <li>Route des Avouillons 6, 1196, Gland</li>
        <li>075 419 00 86</li>
        <li>4:30 &ndash; 23:30 | 7 jours sur 7</li>
      </ul>
    </div>
    <div class="signup-info-text">
      <div class="col span-1-of-3"></div>
      <div class="col span-1-of-3"></div>
      <div class="col span-1-of-3 signup-info-text">
        Pour faire une séance d’essai gratuit, 
        voire la Salle ou prendre des renseignements, 
        Venez pendant les Horaires de Bureau : 
        Lundi-Mercredi-Samedi de 12h-20h et 
        Mardi-Jeudi-Vendredi de 9h-17h
      </div>
    </div>
  </div>
</header>
