<header class="main-header">
  <div class="corner-ribbon top-right sticky blue">550 CHF</br> Annual Membership!</div>
  <nav>
    <div class="row">
      <a href="/"><img src="/images/logo.png" alt="Titan Fitness logo" class="logo"/></a>
      <ul class="main-nav js--main-nav">
        <li><a href="/why_titan">Why Titan?</a></li>
        <li><a href="/facilities">Facilities</a></li>
        <li><a href="/philosophy">Philosophy</a></li>
        <li><a href="/tariffs">Tariffs</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <a class="mobile-nav-icon js--nav-icon"><ion-icon name="menu" class="icon-big"></ion-icon></a>
    </div>
  </nav>
  <div class="hero-text-box">
    <div class="col span-2-of-3">
      <h1>Welcome to Titan Fitness</h1>
    </div>
    <div class="col span-1-of-3">
      <ul class="homepage-info">
        <li>6 Route des Avouillons, 1196, Gland</li>
        <li>075 419 00 86</li>
        <li>4:30 &ndash; 23:30 | 7 days a week</li>
      </ul>
    </div>
  </div>
</header>
