<header class="main-header">
  <nav>
    <div class="row">
      <a href="/"><img src="/images/logo.png" alt="Titan Fitness logo" class="logo"/></a>
      <ul class="main-nav">
        <li><a href="/why_titan">Why Titan?</a></li>
        <li><a href="/facilities">Facilities</a></li>
        <li><a href="/philosophy">Philosophy</a></li>
        <li><a href="/tariffs">Tariffs</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="hero-text-box">
    <h1>Welcome to Titan Fitness</h1>
    <ul>
      <li>6 Route des Avouillons, 1196, Gland</li>
      <li>075 419 00 86</li>
    </ul>
  </div>
</header>
