<section class="section-why-titan">
  <div class="row">
    <h2>Why Titan Fitness?</h2>
  </div>
  <div class="row">
    <div class="col span-1-of-3 box">
      <ion-icon name="cash" class="icon-big"></ion-icon>
      <h3>Best Prices in the Region</h3>
      <p>
        At 550CHF per year, Titan Fitness is the cheapest gym in Switzerland. Now you can break a sweat without breaking the bank!
      </p>
    </div>
    <div class="col span-1-of-3 box">
      <ion-icon name="time" class="icon-big"></ion-icon>
      <h3>24 Hour Access</h3>
      <p>
        Open 365 days a year from 4:30-23:30- No more forced training breaks, difficulty finding time and ultimately no excuses to miss workouts.
      </p>
    </div>
    <div class="col span-1-of-3 box">
      <ion-icon name="fitness" class="icon-big"></ion-icon>
      <h3>Best Equipment</h3>
      <p>
        Brand New and Unique Equipment- With Plate loaded machines that are unique in the region and multiple power racks and deadlift platforms. This is a bodybuilder and powerlifter's dream.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-3 box">
      <ion-icon name="happy" class="icon-big"></ion-icon>
      <h3>Free Advice</h3>
      <p>
        During the office hours, I will be available to help you design a program in order to help you reach your goals whether you are a beginner, intermediate or advanced lifter. Nutritional advice is included, all absoultely free!
      </p>
    </div>
    <div class="col span-1-of-3 box">
      <ion-icon name="clipboard" class="icon-big"></ion-icon>
      <h3>No Inscription Fees</h3>
      <p>
        At Titan Fitness there are no hidden fees for you to worry about. We only ask for the anuall membership and a deposit for your 24 hour access key!
      </p>
    </div>
    <div class="col span-1-of-3 box">
      <ion-icon name="subway" class="icon-big"></ion-icon>
      <h3>Accesible</h3>
      <p>
        Less than 5 minutes away from Gland station. Titan fitness is incredibly accessible by car and public transit!
      </p>
    </div>
  </div>
</section>
