<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/Grid.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,300i,400" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <div class="row">
          <img src="/images/logo.jpg" alt="Titan Fitness logo" class="logo"/>
          <ul class="main-nav">
            <li><a href="#">Why Titan?</a></li>
            <li><a href="#">Facilities</a></li>
            <li><a href="#">Philosophy</a></li>
            <li><a href="#">Tariffs</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="hero-text-box">
        <h1>Welcome to Titan Fitness!</h1>
      </div>
    </header>
    {{{body}}}
    <script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>
  </body>
</html>
