<section class="banner philosophy">
  <div class="row">
    <h2>Philosophie</h2>
  </div>
</section>
<section>
  <div class="row philosophy-text">
    <p>
      Que votre objectif soit de perdre du poids, de vous muscler ou
      de vous fortifier, Titan Fitness a tout ce dont vous avez besoin
      pour atteindre vos objectifs. Nous sommes équipés de machines
      neuves de qualité, performantes dans tous les domaines que ce
      soit pour le cardio ou pour la musculation. Nous avons également
      toute une panoplie de divers poids libres.
    </p>
    <p>
      Notre salle de sport n’a qu’un seul but, vous aider à atteindre
      votre objectif! Ici pas de piscine, sauna ou cafétéria élégante.
      Mais de vraies machines performantes , nous ne croyons pas aux
      miracles et aux solutions magiques. Nous ne pensons pas que le
      succès puisse être atteint par des subterfuges ou des suppléments
      alimentaires. Le monde du fitness est souvent obnubilé par quel
      produit prendre pour être plus performant, alors que le plus
      important est une nutrition adaptée et des phases de récupération.
      C’est pourquoi nous sommes là pour vous conseiller honnêtement et
      sans artifices.
    </p>
    <p class="last">
      En tant que power lifter de compétition et résidant dans la région,
      je n’ai pas trouvé de salle de fitness répondant à mes besoins. De
      plus les horaires limités me pénalisaient pour pouvoir coordonner
      les entrainements avec mes partenaires.  Pour cela  je devais me
      rendre jusqu’à Lausanne tous les jours, une vraie perte de temps
      et d’argent! Titan Fitness répond aux besoins  des professionnels,
      body builder mais pas seulement!  Il est ouvert à tous et à toutes
      quel que soit votre niveau. Nous vous attendons  et sommes là pour vous!
    </p>
  </div>
</section>
