<section class="banner philosophy">
  <div class="row">
    <h2>Philosophy</h2>
  </div>
</section>
<section>
  <div class="row">
    <p>
      Whether your goal is to lose weight, add muscle or gain strength, Titan Fitness has everything you need and more to accomplish your goals. We have everything to cater to your needs whether it be free weights, cardio or specialty machines.
      This gym doesn't have a pool, sauna or a fancy cafeteria and we don't propose miracles and easy solutions to getting in shape. We don't believe sucess can be achieved by a lifehack or magical supplement. In the fitness world, people often obsess about insignificant details like which creatine powder is best while ignoring the important aspects such as nutrition and recovery. We are frank and honest here.
      As a competitive powerlifter living in Gland, I found that no gym in the area was satisfying for my training needs. Furthermore, the limited hours made it almost impossible to coordinate training times with my partner who worked different hours than I did. As a result I would drive 30 minutes everyday to Lausanne just to train. Besides catering to the masses of casual lifters, advanced lifters will find something in this gym, previously not available in the region.
    </p>
  </div>
</section>
