<section class="banner tariffs">
  <div class="row">
    <h2>Tariffs</h2>
  </div>
</section>
<section class="tariffs-box">
  <div class="row">
    <div class="col span-1-of-3 box">
      <h3>1 Year</h3>
      <p>
        550 CHF
      </p>
    </div>
    <div class="col span-1-of-3 box">
      <h3>6 Months</h3>
      <p>
        350 CHF
      </p>
    </div>
    <div class="col span-1-of-3 box">
      <h3>3 Months</h3>
      <p>
        220 CHF
      </p>
    </div>
  </div>
</section>
