<header>
  <nav>
    <div class="row">
      <a href="/"><img src="/images/logo.png" alt="Titan Fitness logo" class="logo"/></a>
      <ul class="main-nav">
        <li><a href="/why_titan">Why Titan?</a></li>
        <li><a href="/facilities">Facilities</a></li>
        <li><a href="/philosophy">Philosophy</a></li>
        <li><a href="/tariffs">Tariffs</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
<section>
  <div class="row">
    <h2>Tariffs</h2>
  </div>
  <div>

  </div>
</section>
