<section class="banner tariffs">
  <div class="row">
    <h2>Tariffs</h2>
  </div>
</section>
<section>
  <div class="row">
    <div class="col span-1-of-3 box">
      <h3>1 Year</h3>
      <p>
        550chf
      </p>
    </div>
    <div class="col span-1-of-3 box">
      <h3>6 Months</h3>
      <p>
        350chf
      </p>
    </div>
    <div class="col span-1-of-3 box">
      <h3>3 Months</h3>
      <p>
        220chf
      </p>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <h3>Includes:</h3>
    <ul>
      <li>Late night access with your own key card</li>
      <li>Free consultation</li>
    </ul>
  </div>
</section>
