<section class="banner why-titan">
  <div class="row">
    <h2>Pourquoi Titan Fitness?</h2>
  </div>
</section>
<section class="section-why-titan">
  <div class="row">
    <div class="col span-1-of-3 box">
      <ion-icon name="cash" class="icon-big"></ion-icon>
      <h3>Meilleurs Prix</h3>
      <p>
        Meilleurs Prix dans la région à 550chf par année.
      </p>
    </div>
    <div class="col span-1-of-3 box">
      <ion-icon name="time" class="icon-big"></ion-icon>
      <h3>Ouvert 7 jours sur 7</h3>
      <p>
        Ouvert 7 jours sur 7, 365 jours par année. Vous pouvez ainsi vous entraîner non-stop et toujours
        trouver un créneau dans votre emploi du temps.
      </p>
    </div>
    <div class="col span-1-of-3 box">
      <ion-icon name="fitness" class="icon-big"></ion-icon>
      <h3>Meilleur Equipement</h3>
      <p>
        Equipement neuf et ultra performant, avec des machines
        telles que « Hammerstrength », plusieurs cages à squats,
        des plateformes pour le deadlift ainsi que diverses machines cardio.
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-2 box">
      <ion-icon name="happy" class="icon-big"></ion-icon>
      <h3>Conseils Gratuits</h3>
      <p>
        Conseils gratuits et personnalisés durant les
        heures de bureau et ceci quel que soit votre niveau.
        Nous pourrons créer ensemble un programme d’entrainement
        spécifique à vos besoins et également vous donner des
        conseils concernant votre alimentation.
      </p>
    </div>
    <!-- <div class="col span-1-of-3 box">
      <ion-icon name="clipboard" class="icon-big"></ion-icon>
      <h3>No Inscription Fees</h3>
      <p>
        At Titan Fitness there are no hidden fees for you to worry about. We only ask for the anuall membership and a deposit for your 24 hour access key!
      </p>
    </div> -->
    <div class="col span-1-of-2 box">
      <ion-icon name="subway" class="icon-big"></ion-icon>
      <h3>Accesible</h3>
      <p>
        Situation idéale, à moins de 5 minute de la gare de Gland
      </p>
    </div>
  </div>
</section>
